body {
  overflow: hidden;
}

body .changeMode {
  position: absolute;
  right: 20px;
  bottom: 15px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10vw;
  height: 5vh;
  border: 1px solid green;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .changeMode:hover {
  background-color: green;
  color: white;
}

body .placeMode {
  position: absolute;
  z-index: 999;
  right: 20px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10vw;
  height: 50vh;
  border: 1px solid green;
  text-align: center;
}

body .placeMode .placeModeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

body .placeMode .placeModeText div {
  width: 50%;
}

body .placeMode .placeModeText div:hover {
  background-color: green;
  color: white;
}

body .placeMode .objectList .object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .placeMode .objectList .object .objectButtons {
  margin-right: 5px;
}

body .placeMode .objectList .object .objectButtons .objectDeleteButton {
  width: 10px;
  aspect-ratio: 1/1;
  border: 1px solid red;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .placeMode .objectList .object .objectButtons .objectDeleteButton:hover {
  background-color: red;
}

body .infoScreenContainer {
  position: absolute;
  right: 12vw;
  top: 15px;
  z-index: 999;
  height: 25vh;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid green;
}

body .infoScreenContainer .infoScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .infoScreenContainer .infoScreen .infoScreenHeader {
  text-align: center;
}

body .infoScreenContainer .infoScreen .infoScreenContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .infoScreenContainer .infoScreen .infoScreenContent .keyPair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */